.LayoutBackground {
  min-height: 70vh;
}
.iphoneDevice{
  padding-top: 2.8rem !important;
}
.iphoneDevice-large{
  padding-top: 3rem !important;
}
.iphoneDevice-small{
  padding-top: 1.8rem !important;

}
.iphoneDevice-footer{
  height: 5.7rem !important;
  padding-bottom: 1rem !important;
}