body {
  overflow-x: hidden;
}

.explainBody {
  margin: 0 auto;
  text-align: center;
  img {
    margin: auto;
  }
  .registerImg {
    height: 13rem;
    width: 100%;
    margin-bottom: 1rem;

    margin-top: 3rem;
  }
}
// img[src="src/assets/Auth/Hands-Show.png"]{
//     padding-right: 2rem;
//     width: 15rem;
//     margin-top: 1.89rem;
// }
// img[src="src/assets/Auth/Hands-Point.png"]{
//     padding-right: 1rem;
//     width: 12rem;

// }
// img[src="src/assets/Auth/Hands-Exchange.png"]{
//     margin-left: -2.5rem;
//     width: 27rem;
//       margin-top: 1.89rem;
// }
// img[src="src/assets/Auth/Hands-Give.png"]{
//   margin-top: 1.89rem;
// }
