// iba pozadie aby boli vidiet vsetky elementy
  .bg-showing{
    padding: 5vw;
    background-color: black;
    height: 100%;
    width: 100%;
  }


  .bgExplain{
  padding: 1.5rem ;
  padding-top: 0;
  
  }

