$primary   : #BD0043;
$secondary : #BD004333;
// $secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;
$black     : #000000;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
$text-primary:#D0DCD8;
$white     : #FFFFFF;


$input-font-size: 14px !default;
$input-text-color: rgba(255, 255, 255, 0.87) !default;
$input-label-color: rgba(0,0,0,.6) !default;
$input-autofill-color: inherit !default;

